#play{
    width: 52px;
    height: 52px;
  }
  button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }
  #resumeButton{
    display: none;
  }
  #cancelButton{
    display: none;
  }
  #play1{
    width: 52px;
    height: 52px;
  }
html{   
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none; 

}



  
  