@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="form-group">
    @using (Html.BeginForm())
    {
        <label for="Textarea">Type, paste, and edit text here.</label>
        <input type="submit" class="pull-right" value="Play" />
        <textarea name="Text" class="form-control" id="Textarea" rows="8" style="max-width:100%"></textarea>
    }
    </div>
</div>

@section Scripts {
<script src="~/Scripts/autogrow.js"></script>
<script>
    $(function () {
        $('#Textarea').autogrow();
    });
</script>
}